<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Add Your Burger Here</h2>
            <div class="form-group">
                <form>
                    <label for="usr">Burger Name:</label>
                    <input type="text" class="form-control" id="myBurger">

                    
                    <button class="btn btn-success" type="submit" id="submitBurger">Insert New Burger</button>
                </form>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <h2>The Burgers Awaiting Chomp Chomp:</h2>
            {{#each burgerEd}}
            {{#unless devoured}}
            <div name="{{id}}">
                <h4>{{id}}) {{burger_name}}</h4>
                <button type="button" class="devourMe" id="{{burger_name}}" name="{{id}}">Devoured?</button>
            </div>
            <br> {{/unless}}
            {{/each}}
        </div>
        <div class="col-md-6">
            <h2>The Devoured Burgers:</h2>
            <div id="insertDevouredHere">
                {{#each burgerEd}}
            {{#if devoured}}
            <div name="{{id}}">
                <h4>{{id}}) {{burger_name}}</h4>
            </div>
            <br> {{/if}}
            {{/each}}

            </div>

        </div>
    </div>
</div>